<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Liste des etudiants</title>
    <meta name="author" content="ASNA" />
    <!-- stylesheet css -->
      <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
   
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">Espace Administrateur</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="profiles.html">Profils</a></li>
                    <li class="active"><a href="diplomes.html">Ajouter un diplôme</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Déconnexion</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br/><br/><br/>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un Diplôme</div>
                <div class="panel-body">
                    <form th:action="@{SaveDiplome}" enctype="multipart/form-data" method="post" th:object="${diplome}" class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Niveau">Nom Diplôme:</label>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{nomDiplome}" name="nomDiplome" class="form-control" />
                                <span class="text-danger" th:errors="*{nomDiplome}"></span>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-2" for="Niveau">Niveau:</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:field="*{niveau}">
        		<option name="niveau" value="Bac+1">Bac+1</option>
        		<option name="niveau" value="Bac+2/DUT">Bac+2/DUT</option>
        		<option name="niveau" value="Bac+3/Licence">Bac+3/Licence</option>
        		<option name="niveau" value="Bac+4/Maitrise">Bac+4/Maitrise </option>
        		<option name="niveau" value="Bac+5/Master">Bac+5/Master</option>
    		</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Spécialité">Spécialité:</label>
                            <div class="col-sm-8">
                                <select class="form-control" th:field="*{specialite}">
                    <option  value="Génie Logiciel">Génie Logiciel</option>
                    <option  value="Ingénierie des systèmes informatique">Ingénierie des systèmes informatique</option>   
                    <option  value="Résaux et systèmes">Résaux et systèmes</option>   
            </select>
                                <!-- <span class="text-danger" th:errors="*{promotion}"></span> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Déscription">Déscription:</label>
                            <div class="col-sm-8">
                                <textarea th:field="*{description}" name="description" class="form-control" rows="3"></textarea>
                                <span class="text-danger" th:errors="*{description}"></span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary col-sm-offset-7 "> Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table name="mytable" class="table table-striped">
                <h3 align="left"> Liste des diplomes</h3>
                <thead>
                    <tr>
                        <th>NomDiplome</th>
                        <th>Niveau</th>
                        <th>Spécialité</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e:${pageDiplomes.content}">
                        <td th:text="${e.nomDiplome}"></td>
                        <td th:text="${e.niveau}"></td>
                        <td th:text="${e.specialite}"></td>
                        <td th:text="${e.description}"></td>
                        <td><a th:href="@{modifierDiplome(id=${e.id})}" class="btn btn-info">Modifier</a>
                        <a onclick="return confirm('Etes vous de sure de supprimer')" th:href="@{supprimerDiplome(id=${e.id})}" class="btn btn-danger">Supprimer</a></td>

                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                    <a th:text="${p}" th:href="@{diplomes(page=${p},motCle=${motCle})}"></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>