<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Liste des etudiants</title>
    <meta name="author" content="ASNA" />
    <!-- stylesheet css -->
     <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" /> 
 	 <link rel="stylesheet" type="text/css" href="/libs/css/padding.css" />
 	 <link rel="stylesheet" type="text/css" href="/libs/css/myStyle.css" />
    <!-- files js -->
    </head>
<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/libs/js/app.js"></script>

<body ng-app="app" ng-controller="etudiantController">
<script type="text/javascript" src="/libs/jquery/jquery-3.2.1.js" th:src="@{/libs/jquery/jquery-3.2.1.js}"></script>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/libs/js/filter.js" th:src="@{/libs/js/filter.js}"></script>
<script type="text/javascript" src="/libs/js/login.js" th:src="@{/libs/js/login.js}"></script>
<script type="text/javascript" src="/libs/js/studin.js" th:src="@{/libs/js/studin.js}"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="index.html">Gestion d'étudiants</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Acceuil</a></li>
                    <li><a href="login">Connectez-vous</a></li>
                </ul>
            </div>
        </div>
    </nav>
	
    
    <div class="container">
        <div class="form-group">
            <form th:action="@{Index}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="motCle" ng-model="motCle" placeholder="Rechercher" />
                    <button ng-click="getEtudiants()" class="btn btn-primary">Chercher</button>
                </div>
            </form>
        </div>


        <div class="table-responsive">
            <table name="mytable" class="table table-striped">
                <h3 align="left"> Liste des étudiants</h3>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Titre du poste</th>
                        <th>Email</th>
                        <th>Diplômes</th>
                        <th>Compétences clés</th>
                      
                    </tr>
                </thead>
                <tbody>
                  	<tr ng-repeat="e in pageEtudiants">
                        <td>{{e.nom}}</td>
                        <td>{{e.prenom}}</td>
                        <td>{{e.titreposte}}</td>
                        <td>{{e.email}}</td>
                        <td>{{e.diplome}}</td>
                        <td>{{e.competencesCles}}</td>
                    </tr>
                </tbody>
            </table>
			<div class="container">
            <ul class="nav nav-pills">
                <li ng-class="{active:$index==pageCourante}" ng-repeat="p in pages track by $index" class="clickable">
                    <a ng-click="gotoPage($index)">{{$index}}</a>
                </li>
            </ul>
            </div>
        </div>

        <nav class="footer">
            <a class="navbar-brand" href="#" align="center">Copyright 2017/2018</a>
        </nav>

    </div>
    

</body>

</html>