<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Liste des etudiants</title>
    <meta name="author" content="ASNA" />
    <!-- stylesheet css -->
    <link rel="stylesheet" type="text/css" href="../static/libs/css/bootstrap/bootstrap.min.css" th:href="@{/libs/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/libs/css/bootstrap/bootstrap-theme.min.css" th:href="@{/libs/css/bootstrap/bootstrap-theme.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/libs/css/padding.css" th:href="@{/libs/css/padding.css}" />
    <!-- files js -->
    <script type="text/javascript" th:src="@{/libs/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/libs/jquery/jquery-3.2.1.js}"></script>
    <script type="text/javascript" src="../static/libs/js/filter.js" th:src="@{/libs/js/filter.js}"></script>
    <script type="text/javascript" src="../static/libs/js/studin.js" th:src="@{/libs/js/studin.js}"></script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#">Espace Administrateur</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Profils</a></li>
                    <li><a href="createProfil">Ajouter un profil</a></li>
                    <li><a href="diplomes">Diplômes</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="form-group">
            <form th:action="@{profiles}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="motCle" th:value="${motCle}" placeholder="Rechercher" />
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </div>
            </form>
        </div>


        <div class="table-responsive">
            <table name="mytable" class="table table-striped">
                <h3 align="left"> Liste des étudiants</h3>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Titre du poste</th>
                        <th>Email</th>
                        <th>Diplômes</th>
                        <th>Compétences clés</th>
                        <th>Promotion</th>
                        <th>Expériences</th>
                        <th>photo</th>
                      <!--   <th>Actions</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="e:${Etudiants.content}">
                       
                        <td th:text="${e.nom}"></td>
                        <td th:text="${e.prenom}"></td>
                        <td th:text="${e.titreposte}"></td>
                        <td th:text="${e.email}"></td>
                        <td th:text="${e.diplome}"></td>
                        <td th:text="${e.competencesCles}"></td>
                        <td th:text="${e.promotion}"></td>
                        <td th:text="${e.experience}"></td>
                        <td><img th:src="@{getPhoto(id=${e.id})}" with="100" height="100"></img>
                        </td>
                        <td><a th:href="@{modifier(id=${e.id})}" class="btn btn-info">Modifier</a></td>
                        <td><a onclick="return confirm('Etes vous de sure de supprimer')" th:href="@{supprimer(id=${e.id})}" class="btn btn-danger">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
                    <a th:text="${p}" th:href="@{profiles(page=${p},motCle=${motCle})}"></a>
                </li>
            </ul>
        </div>

        <nav class="footer">
            <a class="navbar-brand" href="#" align="center">Copyright 2017/2018</a>
        </nav>

    </div>

</body>

</html>